<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 가입</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    .basicMargin{
        margin: 5px 10px 0 0;
    }
</style>
<body class="d-flex align-items-center">

<form id="signupForm" class="mx-auto">
    <h2>Signup</h2>
    <div class="loginIdBox">
        <label for="loginId">Login ID</label>
    </div>
    <div class="loginIdBox">
        <input type="text" id="loginId" name="loginId" oninput="handleInputChange()" required>
        <button type="button" class="btn btn-dark" id="checkIdButton" onclick="checkId()">Check ID</button>
    </div>
    <div class="basicMargin>">
        <label for="password">Password</label>
    </div>
    <div>
        <input type="password" id="password" name="password" required>
    </div>
    <div class="basicMargin">
        <label for="nickname">Nickname</label>
    </div>
    <div>
        <input type="text" id="nickname" name="nickname" required>
    </div>
    <div style="margin-top: 30px">
        <button type="button" class="btn btn-primary" id="signupButton" onclick="signup()" disabled>가입하기</button>
    </div>

</form>
<script>

    function handleInputChange() {
        document.getElementById("signupButton").disabled = true;
        document.getElementById("checkIdButton").disabled = false;
    }

    function checkId() {
        let loginId = document.getElementById("loginId").value;

        fetch('/api/users/signup/validation', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({loginId: loginId})
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if(data.isUsableId){
                    alert("사용 가능한 아이디입니다.")
                    document.getElementById("signupButton").disabled = false;
                    document.getElementById("checkIdButton").disabled = true;
                } else{
                    alert("사용 불가능한 아이디입니다.")
                    document.getElementById("checkIdButton").disabled = true;
                }

            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function signup() {
        let loginId = document.getElementById("loginId").value;
        let password = document.getElementById("password").value;
        let nickname = document.getElementById("nickname").value;
        let isValid = document.getElementById("checkIdButton").disabled;
        let data = {
            loginId: loginId,
            password: password,
            nickname: nickname,
            isValid: isValid
        };

        fetch('/api/users/signup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                alert("회원 가입이 완료되었습니다");
                window.location.href = '/';
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>

</body>
</html>